{% extends "Entreprise/base.html.twig" %}

{% block body %}

    <div class="row mb-3">
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-folder-open"></i></span>
                </div>
                <select name="projet" id="" class="form-control">
                    <option value="">projet</option>
                </select>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Filtre
                        <span class="caret"></span>
                    </button>

                    <div class="dropdown-menu" x-placement="bottom-start">
                        <a class="dropdown-item" href="#">Ouvert</a>
                        <a class="dropdown-item" href="#">Clos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a href="{{ path('entreprise_projets_show', {id: projet.id}) }}" class="nav-link {% if tabSelected|default("projet") == "projet" %} active {% endif %}"><i class="fa fa-folder-open"></i> Projet</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('entreprise_projets_clients', {id: projet.id}) }}" class="nav-link {% if tabSelected == "clients" %} active {% endif %}"><i class="fa fa-users"></i> Clients</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('entreprise_projets_documents', {id: projet.id}) }}" class="nav-link {% if tabSelected == "documents" %} active {% endif %}"><i class="fa fa-file"></i> Documents</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active">
                    {% block tabContent %}
                    {% endblock %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}