<h1>Invitation au projet</h1>

<p>
    Bonjour,<br />
    <br />
    La société {{ entreprise.nom }} vous invite à partager un projet sur Housebox.<br />
    <br />
    Retrouvez les informations, l'avancement et les documents de votre projet en vous connectant sur <a href="http://housebox.fr">Housebox</a>.<br />
    <br />
    Voici vos identifiants :<br />
        - Nom d'utilisateur : {{ client.email }} <br>
        - Mot de passe : {{ password }} <br>
    <br>
    <i>Nous vous recommendons de personnalisé votre mot de passe une fois connecté.</i>
    <br>
</p>

<h3>L'équipe Housebox</h3>
