<h1>Bienvenue sur Housebox</h1>

<p>
    Votre inscription a bien été prise en compte. Afin d'activer votre compte, merci de cliquer ici : <a href="{{ url }}">{{ url }}</a>
</p>

<h3>
    L'équipe Housebox
</h3>